header {
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.Player-List {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-left: 2%;
}

.Players {
  background-color: #e64944;
  width: 30%;
  text-align: left;
  margin: 4px 0;
  padding: 20px 8px;
  cursor: pointer;
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: red;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;

 }
 .ChangeTheme{
   color:#e64944;
  
   
 }